body{
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

.container{
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.canvas-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
    padding: 10px;
}

.canvas-container div{
    flex: 1;
    background-color: #fff3cd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.canvas-container h2{
    font-size: 18px;
    color: #495057;
    margin-top: 5px;
    margin-bottom: 10px;
}

canvas{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.back-button{
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.back-button:hover{
    background-color: #0056b3;
}